In [11]:
# Импортируем библиотеки
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Загружаем набор данных
data = pd.read_csv('databank2.csv', delimiter=';')
data.head()

,NaturalPersonID,RequestDate,ProductName,CreditSum,TypeOfWork,SignIP,sex,age,EducationStatus,otrasl_rabotodatelya,...,kolichestvo_detej_mladshe_18,LivingRegionName,Residence,IncomeDocumentKind,HaveSalaryCard,IsBankWorker,TypeOfWork.1,SignIP.1,harakteristika_tekutschego_trudoustrojstva,ConfirmedMonthlyIncome (Target)
0,1ABD801A-0580-4C4F-9682-E7E85A749981,16.10.2018,Кредит на потребительские нужды,500000.0,NaN,NaN,Женский,49,Высшее образование,Прочее,...,0,Самара,город,Выписка по счету,нет,да,NaN,NaN,Постоянная. полная занятость,30691.36
1,7B427911-9B96-443E-9EBA-76A02515E1BE,19.10.2018,Кредит на потребительские нужды,708000.0,NaN,NaN,Женский,44,Среднее специальное образование,Государственная служба,...,0,Казань,село,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,25712.07
2,4B867BD5-6398-4400-99CA-CF208714AF9A,02.11.2018,Кредит на потребительские нужды,665000.0,NaN,NaN,Мужской,29,Высшее образование,Прочее,...,1,Казань,город,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,31081.26
3,ED654BFA-A7E7-4280-84CA-D6EAE80E45E2,02.11.2018,Кредит на потребительские нужды,458000.0,NaN,NaN,Женский,59,Несколько высших образований,Образование,...,0,Зеленодольский,село,2-НДФЛ,да,нет,NaN,NaN,Постоянная. полная занятость,17848.79
4,CCA3FF37-D508-449E-869A-6ED4CB6F9943,15.10.2018,Кредит на потребительские нужды,969000.0,NaN,NaN,Мужской,51,Высшее образование,Здравоохранение,...,2,Тюмень,город,2-НДФЛ,нет,нет,NaN,NaN,Постоянная. полная занятость,115380.53

In [12]:
data.loc[data["sex"]=="Женский", "sex"] = 0
data.loc[data["sex"]=="Мужской", "sex"] = 1
data.head()

,NaturalPersonID,RequestDate,ProductName,CreditSum,TypeOfWork,SignIP,sex,age,EducationStatus,otrasl_rabotodatelya,...,kolichestvo_detej_mladshe_18,LivingRegionName,Residence,IncomeDocumentKind,HaveSalaryCard,IsBankWorker,TypeOfWork.1,SignIP.1,harakteristika_tekutschego_trudoustrojstva,ConfirmedMonthlyIncome (Target)
0,1ABD801A-0580-4C4F-9682-E7E85A749981,16.10.2018,Кредит на потребительские нужды,500000.0,NaN,NaN,0,49,Высшее образование,Прочее,...,0,Самара,город,Выписка по счету,нет,да,NaN,NaN,Постоянная. полная занятость,30691.36
1,7B427911-9B96-443E-9EBA-76A02515E1BE,19.10.2018,Кредит на потребительские нужды,708000.0,NaN,NaN,0,44,Среднее специальное образование,Государственная служба,...,0,Казань,село,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,25712.07
2,4B867BD5-6398-4400-99CA-CF208714AF9A,02.11.2018,Кредит на потребительские нужды,665000.0,NaN,NaN,1,29,Высшее образование,Прочее,...,1,Казань,город,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,31081.26
3,ED654BFA-A7E7-4280-84CA-D6EAE80E45E2,02.11.2018,Кредит на потребительские нужды,458000.0,NaN,NaN,0,59,Несколько высших образований,Образование,...,0,Зеленодольский,село,2-НДФЛ,да,нет,NaN,NaN,Постоянная. полная занятость,17848.79
4,CCA3FF37-D508-449E-869A-6ED4CB6F9943,15.10.2018,Кредит на потребительские нужды,969000.0,NaN,NaN,1,51,Высшее образование,Здравоохранение,...,2,Тюмень,город,2-НДФЛ,нет,нет,NaN,NaN,Постоянная. полная занятость,115380.53

In [13]:
data.loc[data["EducationStatus"]=="Незаконченное среднее образование", "EducationStatus"] = 0
data.loc[data["EducationStatus"]=="Среднее образование", "EducationStatus"] = 1
data.loc[data["EducationStatus"]=="Среднее специальное образование", "EducationStatus"] = 2
data.loc[data["EducationStatus"]=="Незаконченное высшее образование", "EducationStatus"] = 3
data.loc[data["EducationStatus"]=="Высшее образование", "EducationStatus"] = 4
data.loc[data["EducationStatus"]=="Несколько высших образований", "EducationStatus"] = 5
data.loc[data["EducationStatus"]=="Академическая степень", "EducationStatus"] = 6
data.head()

,NaturalPersonID,RequestDate,ProductName,CreditSum,TypeOfWork,SignIP,sex,age,EducationStatus,otrasl_rabotodatelya,...,kolichestvo_detej_mladshe_18,LivingRegionName,Residence,IncomeDocumentKind,HaveSalaryCard,IsBankWorker,TypeOfWork.1,SignIP.1,harakteristika_tekutschego_trudoustrojstva,ConfirmedMonthlyIncome (Target)
0,1ABD801A-0580-4C4F-9682-E7E85A749981,16.10.2018,Кредит на потребительские нужды,500000.0,NaN,NaN,0,49,4,Прочее,...,0,Самара,город,Выписка по счету,нет,да,NaN,NaN,Постоянная. полная занятость,30691.36
1,7B427911-9B96-443E-9EBA-76A02515E1BE,19.10.2018,Кредит на потребительские нужды,708000.0,NaN,NaN,0,44,2,Государственная служба,...,0,Казань,село,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,25712.07
2,4B867BD5-6398-4400-99CA-CF208714AF9A,02.11.2018,Кредит на потребительские нужды,665000.0,NaN,NaN,1,29,4,Прочее,...,1,Казань,город,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,31081.26
3,ED654BFA-A7E7-4280-84CA-D6EAE80E45E2,02.11.2018,Кредит на потребительские нужды,458000.0,NaN,NaN,0,59,5,Образование,...,0,Зеленодольский,село,2-НДФЛ,да,нет,NaN,NaN,Постоянная. полная занятость,17848.79
4,CCA3FF37-D508-449E-869A-6ED4CB6F9943,15.10.2018,Кредит на потребительские нужды,969000.0,NaN,NaN,1,51,4,Здравоохранение,...,2,Тюмень,город,2-НДФЛ,нет,нет,NaN,NaN,Постоянная. полная занятость,115380.53

In [14]:
data.loc[data["Residence"]=="село", "Residence"] = 0
data.loc[data["Residence"]=="город", "Residence"] = 1
data.head()

,NaturalPersonID,RequestDate,ProductName,CreditSum,TypeOfWork,SignIP,sex,age,EducationStatus,otrasl_rabotodatelya,...,kolichestvo_detej_mladshe_18,LivingRegionName,Residence,IncomeDocumentKind,HaveSalaryCard,IsBankWorker,TypeOfWork.1,SignIP.1,harakteristika_tekutschego_trudoustrojstva,ConfirmedMonthlyIncome (Target)
0,1ABD801A-0580-4C4F-9682-E7E85A749981,16.10.2018,Кредит на потребительские нужды,500000.0,NaN,NaN,0,49,4,Прочее,...,0,Самара,1,Выписка по счету,нет,да,NaN,NaN,Постоянная. полная занятость,30691.36
1,7B427911-9B96-443E-9EBA-76A02515E1BE,19.10.2018,Кредит на потребительские нужды,708000.0,NaN,NaN,0,44,2,Государственная служба,...,0,Казань,0,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,25712.07
2,4B867BD5-6398-4400-99CA-CF208714AF9A,02.11.2018,Кредит на потребительские нужды,665000.0,NaN,NaN,1,29,4,Прочее,...,1,Казань,1,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,31081.26
3,ED654BFA-A7E7-4280-84CA-D6EAE80E45E2,02.11.2018,Кредит на потребительские нужды,458000.0,NaN,NaN,0,59,5,Образование,...,0,Зеленодольский,0,2-НДФЛ,да,нет,NaN,NaN,Постоянная. полная занятость,17848.79
4,CCA3FF37-D508-449E-869A-6ED4CB6F9943,15.10.2018,Кредит на потребительские нужды,969000.0,NaN,NaN,1,51,4,Здравоохранение,...,2,Тюмень,1,2-НДФЛ,нет,нет,NaN,NaN,Постоянная. полная занятость,115380.53

In [15]:
data.loc[data["kolichestvo_rabotnikov_v_organizacii"]=="до 20", "kolichestvo_rabotnikov_v_organizacii"] = 0
data.loc[data["kolichestvo_rabotnikov_v_organizacii"]=="21-100", "kolichestvo_rabotnikov_v_organizacii"] = 1
data.loc[data["kolichestvo_rabotnikov_v_organizacii"]=="101-500", "kolichestvo_rabotnikov_v_organizacii"] = 2
data.loc[data["kolichestvo_rabotnikov_v_organizacii"]=="более 500", "kolichestvo_rabotnikov_v_organizacii"] = 3
data.head()

,NaturalPersonID,RequestDate,ProductName,CreditSum,TypeOfWork,SignIP,sex,age,EducationStatus,otrasl_rabotodatelya,...,kolichestvo_detej_mladshe_18,LivingRegionName,Residence,IncomeDocumentKind,HaveSalaryCard,IsBankWorker,TypeOfWork.1,SignIP.1,harakteristika_tekutschego_trudoustrojstva,ConfirmedMonthlyIncome (Target)
0,1ABD801A-0580-4C4F-9682-E7E85A749981,16.10.2018,Кредит на потребительские нужды,500000.0,NaN,NaN,0,49,4,Прочее,...,0,Самара,1,Выписка по счету,нет,да,NaN,NaN,Постоянная. полная занятость,30691.36
1,7B427911-9B96-443E-9EBA-76A02515E1BE,19.10.2018,Кредит на потребительские нужды,708000.0,NaN,NaN,0,44,2,Государственная служба,...,0,Казань,0,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,25712.07
2,4B867BD5-6398-4400-99CA-CF208714AF9A,02.11.2018,Кредит на потребительские нужды,665000.0,NaN,NaN,1,29,4,Прочее,...,1,Казань,1,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,31081.26
3,ED654BFA-A7E7-4280-84CA-D6EAE80E45E2,02.11.2018,Кредит на потребительские нужды,458000.0,NaN,NaN,0,59,5,Образование,...,0,Зеленодольский,0,2-НДФЛ,да,нет,NaN,NaN,Постоянная. полная занятость,17848.79
4,CCA3FF37-D508-449E-869A-6ED4CB6F9943,15.10.2018,Кредит на потребительские нужды,969000.0,NaN,NaN,1,51,4,Здравоохранение,...,2,Тюмень,1,2-НДФЛ,нет,нет,NaN,NaN,Постоянная. полная занятость,115380.53

In [16]:
data.loc[data["Employment"]=="Индивидуальный предприниматель", "Employment"] = 0
data.loc[data["Employment"]=="Сотрудник \ Рабочий \ Ассистент", "Employment"] = 1
data.loc[data["Employment"]=="Эксперт\Старший или Ведущий Специалист", "Employment"] = 2
data.loc[data["Employment"]=="Главный Специалист\Руководитель среднего звена", "Employment"] = 3
data.loc[data["Employment"]=="Руководитель высшего звена", "Employment"] = 4
data.head()

,NaturalPersonID,RequestDate,ProductName,CreditSum,TypeOfWork,SignIP,sex,age,EducationStatus,otrasl_rabotodatelya,...,kolichestvo_detej_mladshe_18,LivingRegionName,Residence,IncomeDocumentKind,HaveSalaryCard,IsBankWorker,TypeOfWork.1,SignIP.1,harakteristika_tekutschego_trudoustrojstva,ConfirmedMonthlyIncome (Target)
0,1ABD801A-0580-4C4F-9682-E7E85A749981,16.10.2018,Кредит на потребительские нужды,500000.0,NaN,NaN,0,49,4,Прочее,...,0,Самара,1,Выписка по счету,нет,да,NaN,NaN,Постоянная. полная занятость,30691.36
1,7B427911-9B96-443E-9EBA-76A02515E1BE,19.10.2018,Кредит на потребительские нужды,708000.0,NaN,NaN,0,44,2,Государственная служба,...,0,Казань,0,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,25712.07
2,4B867BD5-6398-4400-99CA-CF208714AF9A,02.11.2018,Кредит на потребительские нужды,665000.0,NaN,NaN,1,29,4,Прочее,...,1,Казань,1,Выписка по счету,да,нет,NaN,NaN,Постоянная. полная занятость,31081.26
3,ED654BFA-A7E7-4280-84CA-D6EAE80E45E2,02.11.2018,Кредит на потребительские нужды,458000.0,NaN,NaN,0,59,5,Образование,...,0,Зеленодольский,0,2-НДФЛ,да,нет,NaN,NaN,Постоянная. полная занятость,17848.79
4,CCA3FF37-D508-449E-869A-6ED4CB6F9943,15.10.2018,Кредит на потребительские нужды,969000.0,NaN,NaN,1,51,4,Здравоохранение,...,2,Тюмень,1,2-НДФЛ,нет,нет,NaN,NaN,Постоянная. полная занятость,115380.53

In [17]:
data.pop('NaturalPersonID')
data.pop('RequestDate')
data.pop('ProductName')
data.pop('TypeOfWork')
data.pop('SignIP')
data.pop('LivingRegionName')
data.pop('IncomeDocumentKind')
data.pop('HaveSalaryCard')
data.pop('IsBankWorker')
data.pop('TypeOfWork.1')
data.pop('SignIP.1')
data.pop('otrasl_rabotodatelya')
data.pop('harakteristika_tekutschego_trudoustrojstva')
data.head()

,CreditSum,sex,age,EducationStatus,kolichestvo_rabotnikov_v_organizacii,Employment,OrgStanding_N,kolichestvo_detej_mladshe_18,Residence,ConfirmedMonthlyIncome (Target)
0,500000.0,0,49,4,3,1,1.25,0,1,30691.36
1,708000.0,0,44,2,0,3,20.00,0,0,25712.07
2,665000.0,1,29,4,2,1,2.00,1,1,31081.26
3,458000.0,0,59,5,1,1,23.00,0,0,17848.79
4,969000.0,1,51,4,3,1,9.25,2,1,115380.53

In [18]:
data.to_csv("databank1.csv", sep=';')

In [19]:
data2 = pd.read_csv('databank1.csv', delimiter=';')
data2.head()

,Unnamed: 0,CreditSum,sex,age,EducationStatus,kolichestvo_rabotnikov_v_organizacii,Employment,OrgStanding_N,kolichestvo_detej_mladshe_18,Residence,ConfirmedMonthlyIncome (Target)
0,0,500000.0,0,49,4,3,1,1.25,0,1,30691.36
1,1,708000.0,0,44,2,0,3,20.00,0,0,25712.07
2,2,665000.0,1,29,4,2,1,2.00,1,1,31081.26
3,3,458000.0,0,59,5,1,1,23.00,0,0,17848.79
4,4,969000.0,1,51,4,3,1,9.25,2,1,115380.53